name: CI
on:
  push:
    branches:
      - main
      - dev
    tags: ['*']
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    permissions:
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.10'
          - '1.11'
        os:
          - ubuntu-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - name: Pin specific package versions for version testing
        run: |
          julia --project -e '
            using Pkg
            Pkg.add([
              Pkg.PackageSpec(name="DiffEqCallbacks", version="3.9.1"),
              Pkg.PackageSpec(name="ModelingToolkit", version="9.41.0"), 
              Pkg.PackageSpec(name="SymbolicIndexingInterface", version="0.3.37")
            ])
            Pkg.pin(["DiffEqCallbacks", "ModelingToolkit", "SymbolicIndexingInterface"])
          '
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false

